<!--
  Generated template for the RoomsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <header></header>
</ion-header>


<ion-content padding>
    <div align="center">
        <img src="images/home/ic1.png" class="w-25" />
    </div>
  <div class="buttonsBar">
    <button ion-button full style="background-color: #7f7f7f"  (click)="ToggleCheckBox(1)">הודעה על פינוי</button>
  </div>

  <div class="products mt-3">
    <div *ngFor="let item of roomsArray let i=index" class="productItem">
        
        <div class="row RTL">
            <div *ngIf="toggleCheckBox" class="productEdit col-2">
                <ion-checkbox [(ngModel)]="item.choosen"   (click)="selectProduct(item)" ></ion-checkbox>
            </div>
            <div [ngClass]="[!toggleCheckBox ? 'col-9 infoRow' : 'col-9 infoRow1']" >
                <div class="productNumber">  יחידת אחסון: {{item.PARTNAME}}</div>
                <div class="row RTL">
                    <div class="col-6 RTL"> סניף: {{item.PRIT_SPECDES1}}</div>
                    <div class="col-6 RTL">מבנה: {{item.PRIT_SPECDES2}}</div>
                </div>
                <div class="row RTL">
                    <div class="col-6 RTL">אגף: {{item.PRIT_SPECDES3}}</div>
                    <div class="col-6 RTL">כמות קוב: {{item.AVI_KUB_QUANT}}</div>
                </div>
                <div class="row RTL">
                    <div class="col-12 RTL mt-1">תאריך כניסה: {{item.DUEDATE | date:'dd/MM/yyyy'}}</div>
                </div>
                <div class="row RTL">
                    <div class="col-12 RTL">מחיר כולל מע"מ ל-30 יום: {{mathRound(item.PRIT_VATPRICE)}}</div>
                </div>
            </div>
        </div>
      <hr>
    </div>
  </div>
</ion-content>

<!--<ion-footer no-border class="topBorder" *ngIf="!showSelectedFooter">-->
  <!--<button ion-button full style="background-color: #6eb43f" (click)="ClearRooms()">פינוי חדרים כללי</button>-->
<!--</ion-footer>-->


<ion-footer *ngIf="showSelectedFooter">
  <div class="buttons">
    <!--<button ion-button full style="background-color: #7f7f7f; margin-top:5px;" >סה"כ: {{caluclateProductPrice | number}} ש"ח</button>-->
    <button ion-button full style="background-color: #6eb43f" (click)="openProductsModal()">המשך</button>
  </div>
</ion-footer>


