page-contacts {
    .infoContactText
    {
        color: #aaa;
        text-align: right;
        direction: rtl;
    }

    .inf1
    {
        font-weight: 300;
        font-size: 15px;
    }

    .inf2
    {
        font-weight: 300;
        font-size: 13px;
        margin-top: -10px;
    }

    .inf3
    {
        font-weight: 300;
        font-size: 13px;
        margin-top: -10px;
    }

    .mainInfoText
    {
        color: #aaa;
        padding: 3px 8px;
        border:1px solid #ddd;
    }

    .phoneImg
    {
        width: 20px;
        margin-top: 13px;
    }

    .row
    {
        vertical-align: middle;
    }

    .addIcon
    {
        margin-right: 5px;
        padding: 5px;
    }
}
