<ion-header>
  <header></header>
</ion-header>


<ion-content padding>
    <div class="buttonsBar">
        <div class="buttonsBarLeft">
            <button ion-button [ngClass]="[FilterType == 0? 'buttonsBarButton2' : 'buttonsBarButton']" (click)="ChangeFilter(0)"> כל הפעולות</button>
        </div>
        <div class="buttonsBarRight">
            <button ion-button  [ngClass]="[FilterType == 1 ? 'buttonsBarButton2' : 'buttonsBarButton']" (click)="ChangeFilter(1)"> קבלות</button>
        </div>

        <div class="buttonsBarRight">
            <button ion-button  [ngClass]="[FilterType == 2 ? 'buttonsBarButton2' : 'buttonsBarButton']" (click)="ChangeFilter(2)">  חשבוניות</button>
        </div>
    </div>

  <div class="products">
    <div *ngFor="let item of paymentHistoryArray let i=index" class="productItem">
        <div class="productNumber">{{item.DETAILS}} </div>
        <div class="productInfo" >
          <div class="productText">
            <div> תאריך: {{item.BALDATE | date:'dd/MM/yyyy'}}</div>
              <div style="direction: rtl;" *ngIf="item.KLINE == 2"> מספר קבלה: {{item.TODOREF}}</div>
              <div style="direction: rtl;" *ngIf="item.KLINE == 1"> מספר חשבונית: {{item.TODOREF}}</div>

              <div style="direction: rtl;" *ngIf="item.KLINE == 2"> סכום הקבלה: {{item.CREDIT}}</div>
              <div style="direction: rtl;" *ngIf="item.KLINE == 1"> סכום החשבונית: {{item.DEBIT}}</div>
          </div>
        </div>
        <button ion-button full style="background-color: #6eb43f"   *ngIf="item.KLINE == 1" (click)="showRecipet(item.TODOREF)"> קישור לחשבונית</button>
        <hr>
    </div>
  </div>

</ion-content>

<ion-footer >
    <div class="buttons">
        <button ion-button full style="background-color: #7f7f7f; margin-top:5px;" >סה"כ יתרה: {{caluclatedSum}} ש"ח</button>
    </div>
</ion-footer>