page-paymenthistory {
  .productInfo
  {
    overflow: hidden;
    width: 100%;
  }

  .productNumber
  {
    text-align: right;
    direction: rtl;
    padding: 10px 20px;
    color: #6eb43f;
    font-weight: bold;
    font-size: 17px;
  }
  .productImage
  {
    float: right;
    width: 20%;
    margin-right: 20px;
  }

  .productText
  {
    float: right;
    width: 100%;
    padding: 0px 10px;
    text-align: right;
    color: #B6B6B6;
    font-size: 15px;
  }

  .productEdit
  {
    float: left;
    width: 7%;
    margin-top: 15px;
    margin-left: 20px;
  }

  .editButton
  {
    background-color:#6fb43f;
    width: 90%;
    margin: auto;
    margin-left: 5%;
    margin-top:10px;
  }


  .buttonsBar
  {
    width: 100%;
    overflow: hidden;
    margin-top: 15px;
  }

  .buttonsBarLeft
  {
    width: 30%;
    float: left;
    margin-left: 5%;
  }

  .buttonsBarRight
  {
    width: 50%;
    float: right;
    margin-right: 5%;
  }

  .buttonsBarButton
  {
    width: 80%;
    background-color:#6fb43f;
  }

  .btn-group
  {
    width: 100% !important;
  }

  .mIcon
  {
    margin-left: 3px;
  }

  .btnGr
  {
    width: 33% !important;
    height: 40px;
    font-size: 17px;
    padding-top: 6px;
    border-color: #6eb43f;
    background-color: #fff;
    color:#6eb43f;
  }

  .invoicIcon
  {
    margin-top: 20px;
    font-size: 30px;
  }

  .invoicIcon i
  {
    padding-left: 18px;
    color: #6eb43f
  }

  .invoicIcon p
  {
    font-size: 10px;
    text-align: center;
    color: #6eb43f
  }

//   .btnGr:active{
//   color: #fff;
//   background-color: #5cb85c !important;
  
//   outline: none;
// }

  // .btnGr:focus, .btnGr:active , .btnGr:hover ,btnGr.active {
  //   color: #fff;
  //   background-color: #5cb85c;
  //   border-color: #5cb85c;
  // }

  .ActiveBt
  {
    width: 33% !important;
    height: 40px;
    font-size: 17px;
    padding-top: 6px;
    color: #fff;
    background-color: #6eb43f;
    border-color: #6eb43f;
  }
}
