page-paymenthistory {
  .productInfo
  {
    overflow: hidden;
    width: 100%;
  }

  .productNumber
  {
    text-align: right;
    direction: rtl;
    padding: 10px 20px;
    color: #6eb43f;
    font-weight: bold;
    font-size: 17px;
  }
  .productImage
  {
    float: right;
    width: 20%;
    margin-right: 20px;
  }

  .productText
  {
    float: right;
    width: 60%;
    padding: 0px 10px;
    text-align: right;
    color: #B6B6B6;
    font-size: 15px;
  }

  .productEdit
  {
    float: left;
    width: 7%;
    margin-top: 15px;
    margin-left: 20px;
  }

  .editButton
  {
    background-color:#6fb43f;
    width: 90%;
    margin: auto;
    margin-left: 5%;
    margin-top:10px;
  }


  .buttonsBar
  {
    width: 100%;
    overflow: hidden;
    margin-top: 15px;
  }

  .buttonsBarLeft
  {
    width: 30%;
    float: left;
    margin-left: 5%;
  }

  .buttonsBarRight
  {
    width: 50%;
    float: right;
    margin-right: 5%;
  }

  .buttonsBarButton
  {
    width: 80%;
    background-color:#6fb43f;
  }
}
