<ion-header>
        <header1 HeaderTitle="פירוט חיובים" type="0"></header1>
</ion-header>

<ion-content padding class="mainContent">
    <div class="btn-group btn-group-justified">
                <a href="#" class="btn"  [ngClass]="[FilterType == 2 ? 'ActiveBt' : 'btnGr']" (click)="ChangeFilter(2)">חשבוניות</a>
                <a href="#" class="btn"  [ngClass]="[FilterType == 1 ? 'ActiveBt' : 'btnGr']" (click)="ChangeFilter(1)">קבלות</a>
                <a href="#" class="btn"  [ngClass]="[FilterType == 0 ? 'ActiveBt' : 'btnGr']" (click)="ChangeFilter(0)">כל הפעולות</a>
    </div>
    <!-- <div class="buttonsBar">
        <div class="buttonsBarLeft">
            <button ion-button [ngClass]="[FilterType == 0? 'buttonsBarButton2' : 'buttonsBarButton']" (click)="ChangeFilter(0)"> {{FilterType}}כל הפעולות</button>
        </div>
        <div class="buttonsBarRight">
            <button ion-button  [ngClass]="[FilterType == 1 ? 'buttonsBarButton2' : 'buttonsBarButton']" (click)="ChangeFilter(1)"> קבלות</button>
        </div>

        <div class="buttonsBarRight">
            <button ion-button  [ngClass]="[FilterType == 2 ? 'buttonsBarButton2' : 'buttonsBarButton']" (click)="ChangeFilter(2)">  חשבוניות</button>
        </div>
    </div> -->

  <div class="products">
    <div *ngFor="let item of paymentHistoryArray let i=index" class="productItem">
        <div class="row">
            <div class="col-3 invoicIcon" >
                <div *ngIf="item.KLINE == 1" (click)="showRecipet(item.TODOREF)">
                        <i class="far fa-file-alt mIcon"></i>
                        <p>לפתיחת החשבונית</p>
                </div>
            </div>
            <div class="col-9" [ngClass]="[item.KLINE == 1 ? 'col-9' : 'col12']">
                    <div class="productNumber">{{item.DETAILS}} </div>
                    <div class="productInfo" >
                        <div class="productText">
                            <div> תאריך: {{item.BALDATE | date:'dd/MM/yyyy'}}</div>
                            <div style="direction: rtl;" *ngIf="item.KLINE == 2"> מספר קבלה: {{item.TODOREF}}</div>
                            <div style="direction: rtl;" *ngIf="item.KLINE == 1"> מספר חשבונית: {{item.TODOREF}}</div>
                
                            <div style="direction: rtl;" *ngIf="item.KLINE == 2"> סכום הקבלה: {{item.CREDIT}} &#8362;</div>
                            <div style="direction: rtl;" *ngIf="item.KLINE == 1"> סכום החשבונית: {{item.DEBIT}} &#8362;</div>
                        </div>
                    </div>
                    <!-- <button ion-button full style="background-color: #6eb43f"   *ngIf="item.KLINE == 1" (click)="showRecipet(item.TODOREF)"> קישור לחשבונית</button> -->
            </div>
        </div>
        <hr>
    </div>
  </div>

</ion-content>

<ion-footer >
    <div class="buttons">
        <button ion-button full style="background-color: #7f7f7f; margin-top:5px; direction: rtl; font-size: 17px;" >סה"כ יתרה: {{BALANCE}} &#8362;</button>
    </div>
</ion-footer>