login {
  .mainLogo
  {
    width: 80%;
    margin: auto;
  }

  .loginForm
  {
    width: 100%;
    margin-top: 20px;
  }

  button
  {
    background-color: #6eb43f !important;
  }

  p{
    color: #ccc;
    text-align: center;
    direction: rtl;
  };

  .loginImg
  {
    position: absolute;
    width: 22px;
    margin-top: 8px;
    margin-left: 6px;
  }

  .loginImg1
  {
    position: absolute;
    width: 20px;
    margin-top: 20px;
    margin-left: 8px;
  }
}
