page-selectedproducts {

  .mainHeader
  {
    width: 100%;
    overflow: hidden;
  }

  .productItem
  {
    direction: rtl;
  }

  .toogleCB
  {
    margin-top: 15px;
    margin-right: 15px;
  }

  .headLogo
  {
    //float: left;
    width: 100%;
    margin: auto;
  }

  .headLogo img
  {
    width: 150px !important;
    margin: auto;
    margin-top: 3px;
  }

  .checkbox-icon
  {
    border:1px solid #b0b0b0 !important;
  }

  .checkbox-checked
  {
    border:1px solid #6eb43f !important;
    background-color: #6eb43f !important;
  }

  .productInfo
  {
    overflow: hidden;
    width: 100%;
  }

  .productNumber
  {
    text-align: right;
    direction: rtl;
    padding: 10px 0px;
    color: #b0b0b0;
    font-weight: 300;
    font-size: 14px;
    margin-top: 3px;
  }
  .productImage
  {
    float: right;
    width: 20%;
    margin-right: 20px;
  }

  .productText
  {
    float: right;
    width: 60%;
    padding: 0px 10px;
    text-align: right;
    color: #B6B6B6;
    font-size: 15px;
  }

  .productEdit
  {
    float: left;
    width: 7%;
    margin-top: 15px;
    margin-left: 20px;
  }

  .calenderIcon
  {
    padding-left:13px;
    margin-top: 10px !important;
  }

  .buttonsBar
  {
    width: 100%;
    overflow: hidden;
    margin-top: 0px;
    padding: 15px 30px;
    padding-bottom: 3px;
  }

  .buttonsBarLeft
  {
    width: 40%;
    float: left;
    margin-left: 5%;
  }

  .buttonsBarRight
  {
    width: 40%;
    float: right;
    margin-right: 6%;
  }

  .buttonsBarButton
  {
    width: 100%;
    background-color:#6fb43f;
  }

  .buttonsBarButton2
  {
    width: 100%;
    background-color: #333;
    border: none;
  }

  
  .ActiveBt
  {
    width: 50% !important;
    height: 40px;
    font-size: 17px;
    padding-top: 6px;
    color: #fff;
    background-color: #6eb43f;
    border-color: #6eb43f;
  }

  
  .btnGr
  {
    width: 50% !important;
    height: 40px;
    font-size: 17px;
    padding-top: 6px;
    border-color: #6eb43f;
    background-color: #f8f8f8;
    color:#6eb43f;
  }

  .greenButton
  {
    margin-left:0px;
    width: 100%;
    float: left;
    background-color: #6eb43f;
    margin-top: -1px !important;
    font-size: 16px;
  }

  .redButton
  {
    width: 100%;
    margin-top: 9px;
    font-size: 16px;
  }

  .btn-group
  {
    width: 100% !important;
  }


  .mainHeader
  {
    width: 100%;
    overflow: hidden;
  }

  .avatar
  {
    float: left;
    width: 10%;
    margin: auto;
    margin-top: 10px;
    margin-left:30px;
  }

  p{
    margin-top: -3px;
    margin-left: -5px;
    font-size: 11px;
    text-align: center;
  }

  .headLogo
  {
    float: left;
    width: 64%;
    margin: auto;
  }

  .headLogo img
  {
    width: 125px !important;
    margin: auto;
    margin-top: 3px;
  }

  .bar
  {
    float: right;
    width: 13%;
    margin: auto;
    margin-top: 20px;
    margin-right:5px;
  }
}
