page-roomscalendar {
  .mainHeader
  {
    width: 100%;
    overflow: hidden;
  }

  .headLogo
  {
    //float: left;
    width: 100%;
    margin: auto;
  }

  .headLogo img
  {
    width: 150px !important;
    margin: auto;
    margin-top: 3px;
  }
}
