<!-- Generated template for the EditRowComponent component -->
<div>
    <div class="fullRow">
        <div class="nonEditRow" *ngIf="!isOpen" (click)="editRow(Editable)">
            <div class="rowRight">
                {{Title}} : {{Data[jsonKey]}}
            </div>
            <div class="rowLeft">
                <img src="images/edit.png" *ngIf="Editable == 'true'" style="width: 100%">
            </div>
        </div>
        <div class="EditRow" *ngIf="isOpen">
            <ion-icon name="checkmark" style="font-size:50px; margin:3px 7px" class="absoluteEditButton" (click)="editRow(Editable)" ></ion-icon>

            <!--<img src="images/edit.png"  >-->
            <input [type]="FieldType" class="inputText MT10" value="" [(ngModel)]="Data[jsonKey]" (ngModelChange)="modelChanged($event)"
                   [placeholder]="Title"/>
        </div>
    </div>
</div>

