edit-row {
  .nonEditRow
  {
    text-align: right;
    direction: rtl;
  }

  .inputText
  {
    border: none !important;
    background-color: #f8f8f8;
    border-bottom: 1px solid #b1bdbe !important;
    color: #8b9596;
    font-size: 16px;
  }

  .absoluteEditButton
  {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 18px;
    margin-left: 8px;
    font-size: 30px;
    color: #6eb43f
  }
}
