<!-- Generated template for the FooterComponent component -->
<div>
  <table>
      <tr>
          <td (click)="NavigatePage(3)">
              <img src="images/home/fi3.png" class="borderLeft" style="width: 100%" />
          </td>
          <td (click)="NavigatePage(2)">
              <img src="images/home/fi2.png" style="width: 100%" />
          </td>
          <td (click)="NavigatePage(1)">
              <img src="images/home/fi1.png" style="width: 100%" />
          </td>
      </tr>
  </table>
</div>
