<!--
  Generated template for the ProductsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <header></header>
</ion-header>


<ion-content>
    <div class="buttonsBar">
        <div class="buttonsBarLeft">
            <button ion-button [ngClass]="[selectedReturnItems ? 'buttonsBarButton2' : 'buttonsBarButton']" (click)="ToggleCheckBox(1)"> החזרת פריטים</button>
        </div>
        <div class="buttonsBarRight">
            <button ion-button  [ngClass]="[selectedPullItems ? 'buttonsBarButton2' : 'buttonsBarButton']" (click)="ToggleCheckBox(0)"> שליפת פריטים</button>
        </div>
    </div>
    <div class="products">
        <div *ngFor="let item of productsArray let i=index" class="productItem">
            <div *ngIf="!item.STATUS || item.STATUS == 0">
                <div class="productNumber"> מספר מוצר : {{item.SERNUM}}</div>
                <ion-checkbox [(ngModel)]="item.choosen" *ngIf="toggleCheckBox"  (click)="selectProduct(item)" ></ion-checkbox>

                <div class="productInfo" >
                    <div class="productImage">
                        <!--<img src="{{imageUrl}}{{cutImageUrl(item.PRIT_FILENAME)}}"  style="width: 100%" />-->
                        <img src="images/avatar.png"  style="width: 100%" />
                    </div>
                    <div class="productText">
                        <div> {{item.PARTDES}} </div>
                        <div> {{item.FREE1}}</div>
                        <div> {{item.PRIT_FREE}}</div>
                    </div>
                    <div class="productEdit" (click)="changeStatus(i,1)">
                        <img src="images/edit.png" style="width: 100%" />
                    </div>
                </div>
            </div>
            <div *ngIf="item.STATUS == 1">
                <div class="productNumber"> מספר מוצר : {{item.SERNUM}}</div>
                <div class="productInfo" >
                    <div class="productImage">
                        <!--<img src="{{imageUrl}}{{cutImageUrl(item.PRIT_FILENAME)}}"  style="width: 100%" />-->
                        <img src="images/avatar.png"  style="width: 100%" />                    </div>
                    <div class="productText">
                        <div> {{item.PARTDES}}</div>
                        <div> {{item.FREE1}}</div>
                    </div>

                    <textarea rows="4" cols="50" [(ngModel)]="item.PRIT_FREE"> </textarea>
                    <button ion-button class="editButton" (click)="changeStatus(i,0)"> סיים עריכה</button>
                </div>
                <!-- <img src="images/edit.png" style="width:5%" (click)="changeStatus(i,0)"/>
                <div>6666767676767676767</div> -->
            </div>
            <hr>
        </div>
    </div>
</ion-content>

<ion-footer *ngIf="showSelectedFooter">
        <div class="buttons">
            <button ion-button full style="background-color: #7f7f7f; margin-top:5px;" >סה"כ: {{caluclateProductPrice}} ש"ח</button>
            <button ion-button full style="background-color: #6eb43f" (click)="openProductsModal()">המשך</button>
        </div>
</ion-footer>


