page-products {
  .productInfo
  {
    overflow: hidden;
    width: 100%;
  }

  .productNumber
  {
    text-align: right;
    direction: rtl;
    padding: 10px 20px;
    color: #6eb43f;
    font-weight: bold;
    font-size: 17px;
  }
  .productCheck
  {
    float: right;
    width: 3%;
    margin-right: 20px;
    margin-top: 15px;
  }

  .productImage
  {
    float: right;
    width: 15%;
    margin-right: 20px;
  }

  .productText
  {
    float: right;
    width: 55%;
    padding: 0px 10px;
    text-align: right;
    color: #B6B6B6;
    font-size: 15px;
  }

  .productEdit
  {
    float: left;
    width: 7%;
    margin-top: 15px;
    margin-left: 20px;
  }

  .editButton
  {
    background-color:#6fb43f;
    width: 90%;
    margin: auto;
    margin-left: 5%;
    margin-top:10px;
  }

  textarea
  {
    width: 67%;
    margin: auto;
    margin-left: 5%;
    margin-top:10px;
    text-align: right;
    padding: 5px;
    border: 1px solid #B6B6B6;
  }

  .buttonsBar
  {
    width: 100%;
    overflow: hidden;
    margin-top: 15px;
  }

  .buttonsBarLeft
  {
    width: 40%;
    float: left;
    margin-left: 5%;
  }

  .buttonsBarRight
  {
    width: 40%;
    float: right;
    margin-right: 5%;
  }

  .buttonsBarButton
  {
    width: 100%;
    background-color:#6fb43f;
  }

  .editable
  {
    color:#000000;
    font-weight: bold;
    font-size: 12px;
  }
}
